@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

main {
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section {
    flex: 0 1 250px;
    border: 2px solid blue;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

/*
.linha {
        margin: 10px 0;
        height: 2px;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
        */